.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 50px auto;
}

.image {
  width: 300px;
}

.info-container {
  display: flex;
  width: 70%;
  justify-content: center;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.selected-tab {
  border: 1px solid black;
}

.unselected-tab {
  border: none;
}
